In [307]:
import pandas as pd

In [308]:
seeds = pd.read_csv('WNCAATourneySeeds.csv')
# seeds.head()
teams = pd.read_csv('WTeams.csv')
menTeams = pd.read_csv('Teams.csv')
regSeason = pd.read_csv('WRegularSeasonCompactResults.csv')
regSeasonDetailed = pd.read_csv('WRegularSeasonDetailedResults.csv')
tourneyResults = pd.read_csv('WNCAATourneyCompactResults.csv')
conferences = pd.read_csv('Conferences.csv')
confTourney = pd.read_csv('ConferenceTourneyGames.csv')

In [309]:
LastSeason = regSeasonDetailed[regSeasonDetailed.Season == 2019]

In [310]:
LastSeason.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5240 entries, 46342 to 51581
Data columns (total 34 columns):
Season     5240 non-null int64
DayNum     5240 non-null int64
WTeamID    5240 non-null int64
WScore     5240 non-null int64
LTeamID    5240 non-null int64
LScore     5240 non-null int64
WLoc       5240 non-null object
NumOT      5240 non-null int64
WFGM       5240 non-null int64
WFGA       5240 non-null int64
WFGM3      5240 non-null int64
WFGA3      5240 non-null int64
WFTM       5240 non-null int64
WFTA       5240 non-null int64
WOR        5240 non-null int64
WDR        5240 non-null int64
WAst       5240 non-null int64
WTO        5240 non-null int64
WStl       5240 non-null int64
WBlk       5240 non-null int64
WPF        5240 non-null int64
LFGM       5240 non-null int64
LFGA       5240 non-null int64
LFGM3      5240 non-null int64
LFGA3      5240 non-null int64
LFTM       5240 non-null int64
LFTA       5240 non-null int64
LOR        5240 non-null int64
LDR        5240 non-null int64
LAst       5240 non-null int64
LTO        5240 non-null int64
LStl       5240 non-null int64
LBlk       5240 non-null int64
LPF        5240 non-null int64
dtypes: int64(33), object(1)
memory usage: 1.4+ MB

In [311]:
LastSeason.reset_index(inplace = True)
# print(LastSeason.head())

### Set up ratings dictionary

In [312]:
ratings = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] not in ratings):
        ratings[LastSeason.WTeamID[i]] = 0

In [313]:
ratings[3152] = 0
ratings[3105] = 0

### Calculate assist - turnover ratio

In [314]:
teamAst = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamAst):
        teamAst[LastSeason.WTeamID[i]] += LastSeason.WAst[i]
    else:
        teamAst[LastSeason.WTeamID[i]] = LastSeason.WAst[i]
    if (LastSeason.LTeamID[i] in teamAst):
        teamAst[LastSeason.LTeamID[i]] += LastSeason.LAst[i]
    else:
        teamAst[LastSeason.LTeamID[i]] = LastSeason.LAst[i]

In [315]:
teamTO = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamTO):
        teamTO[LastSeason.WTeamID[i]] += LastSeason.WTO[i]
    else:
        teamTO[LastSeason.WTeamID[i]] = LastSeason.WTO[i]
    if (LastSeason.LTeamID[i] in teamTO):
        teamTO[LastSeason.LTeamID[i]] += LastSeason.LTO[i]
    else:
        teamTO[LastSeason.LTeamID[i]] = LastSeason.LTO[i]

In [316]:
teamGames = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamGames):
        teamGames[LastSeason.WTeamID[i]] += 1
    else:
        teamGames[LastSeason.WTeamID[i]] = 1
    if (LastSeason.LTeamID[i] in teamGames):
        teamGames[LastSeason.LTeamID[i]] += 1
    else:
        teamGames[LastSeason.LTeamID[i]] = 1

In [317]:
teamATOratio = dict()
for i in teamGames:
    teamATOratio[i] = ((teamAst[i] / teamGames[i]) / (teamTO[i] / teamGames[i]))

### Give rankings to different leves of Assist-Turnover Ratio

In [318]:
for i in teamATOratio:
    if ((teamATOratio[i] > 0.7) and (teamATOratio[i] < 1.2)):
        print(teamATOratio[i])

0.9260204081632653
0.9
0.7698924731182796
0.7312614259597806
1.057494866529774
1.1650485436893203
0.7198581560283688
1.0799086757990868
0.8657894736842106
0.7995642701525053
0.9359267734553776
1.037037037037037
0.8506224066390041
0.7084148727984344
0.7427385892116183
0.8481308411214954
0.9452380952380952
0.8810916179337231
0.7841140529531568
0.7845804988662132
0.8626943005181348
0.7095652173913044
0.968944099378882
0.9335038363171355
0.949367088607595
0.9662698412698413
1.0490654205607477
0.7382413087934561
0.8658008658008658
0.9118329466357309
0.9781746031746031
0.8219696969696969
0.7264150943396226
0.7163375224416517
0.8632958801498126
0.778523489932886
1.1531322505800463
0.9300847457627118
1.0581113801452784
1.151133501259446
1.0984455958549222
0.9168646080760096
1.1323943661971831
0.8685968819599109
1.094688221709007
0.860125260960334
0.8422131147540983
0.7148014440433214
1.078556263269639
0.7327102803738318
0.7718631178707224
0.7356076759061834
1.0773694390715667
1.0220264317180616
1.0223713646532437
0.8095238095238095
1.051685393258427
0.7884615384615384
0.8119658119658119
0.8325892857142857
1.1354166666666665
0.9939148073022313
1.0155902004454342
1.0796019900497513
0.7221006564551421
0.7549234135667396
0.759765625
0.8909774436090226
0.890380313199105
0.9008810572687225
1.0335195530726256
0.728813559322034
0.7932584269662921
0.9316628701594534
1.0687960687960687
0.812
0.8759124087591241
0.8679245283018868
1.1862917398945518
1.0488888888888888
0.7413333333333333
1.1854460093896713
1.0402010050251258
0.781443298969072
1.0316027088036117
1.1757425742574257
0.7240704500978473
1.0432569974554706
0.7054945054945054
0.7914110429447853
0.9930232558139533
0.8870588235294118
0.7582417582417582
0.8361344537815125
1.0073349633251834
0.7167019027484144
0.7176470588235294
1.0527522935779816
0.9820717131474103
0.9671361502347419
1.0821256038647342
1.0970654627539502
0.7785388127853882
0.8679999999999999
1.180952380952381
1.1779448621553883
0.8315334773218143
0.965665236051502
0.7258382642998028
0.7638640429338104
0.7064777327935223
0.7884231536926147
1.124121779859485
0.8927911275415896
0.7263581488933601
0.8416289592760182
0.8696682464454976
0.8271889400921659
0.9176201372997712
0.8886198547215495
0.7794117647058824
0.8521400778210116
0.877906976744186
0.8596491228070176
0.8244575936883629
0.9290060851926978
1.1418604651162791
0.948780487804878
1.0093023255813953
0.841304347826087
0.9923076923076923
0.7387755102040816
0.7648401826484018
0.7095158597662771
0.7613882863340564
0.8169291338582677
0.7838479809976246
1.1168224299065421
0.8804878048780488
0.860411899313501
0.8387096774193548
1.019522776572668
0.888663967611336
0.828162291169451
1.153846153846154
1.004158004158004
0.7416481069042317
0.8624754420432221
0.7115749525616698
0.946153846153846
1.1428571428571428
0.8787234042553193
0.7546296296296297
0.9357798165137614
1.0933062880324544
0.954
1.0835443037974684
0.9346153846153846
0.7426900584795321
0.8507462686567165
0.7148936170212765
0.995575221238938
0.9476309226932669
0.9833679833679834
0.8352941176470589
0.892925430210325
0.7270693512304252
0.802
0.8252032520325203
1.072941176470588
0.7212020033388983
1.082294264339152
0.7465069860279442
1.119700748129676
1.105145413870246
0.7996070726915521
0.7092592592592594
0.822680412371134
0.745318352059925
0.989821882951654
0.8514412416851441
0.9306049822064058
0.847255369928401
0.8786764705882354
0.9891304347826086
0.7586206896551724
0.8205645161290323
0.9174528301886792
0.8333333333333334
1.081720430107527
1.127717391304348
0.7982456140350878
0.9217391304347825
0.9305816135084429
0.7334754797441363
1.1880733944954127
0.8215686274509802
0.8967032967032967
0.9584199584199584
0.7919463087248322
0.9104803493449781
0.8227272727272728
0.7247706422018348
0.8489361702127659
1.1530172413793103
0.7133891213389122
0.7936842105263158
1.062052505966587
0.821256038647343
1.0368550368550369
1.1684901531728666
0.9632352941176471
0.750499001996008
0.8864097363083165
0.8393285371702638
0.9279069767441861
0.8630705394190872
0.7417840375586855
0.824634655532359
0.8269720101781171
0.9308641975308642
0.948849104859335
0.770053475935829
0.8014440433212996
0.7509157509157509
0.7113402061855669
0.903921568627451

In [319]:
for i in teamATOratio:
    if (teamATOratio[i] > 1.5):
        ratings[i] += 15
    elif (teamATOratio[i] > 1.4):
        ratings[i] += 13
    elif (teamATOratio[i] > 1.3):
        ratings[i] += 10
    elif (teamATOratio[i] > 1.2):
        ratings[i] += 8
    elif (teamATOratio[i] > 1.1):
        ratings[i] += 6
    elif (teamATOratio[i] > 1.0):
        ratings[i] += 4
    elif (teamATOratio[i] > 0.9):
        ratings[i] += 2
    elif (teamATOratio[i] > 0.8):
        ratings[i] += 1

### Calculate Offensive Efficency
#### Possessions = FGA - OR + T + (0.4 * FTA)

In [320]:
teamPoss = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamPoss):
        teamPoss[LastSeason.WTeamID[i]] += (LastSeason.WFGA[i] - LastSeason.WOR[i] + LastSeason.WTO[i] + (0.4 * LastSeason.WFTA[i]))
    else:
        teamPoss[LastSeason.WTeamID[i]] = (LastSeason.WFGA[i] - LastSeason.WOR[i] + LastSeason.WTO[i] + (0.4 * LastSeason.WFTA[i]))
    if (LastSeason.LTeamID[i] in teamPoss):
        teamPoss[LastSeason.LTeamID[i]] += (LastSeason.LFGA[i] - LastSeason.LOR[i] + LastSeason.LTO[i] + (0.4 * LastSeason.LFTA[i]))
    else:
        teamPoss[LastSeason.LTeamID[i]] = (LastSeason.LFGA[i] - LastSeason.LOR[i] + LastSeason.LTO[i] + (0.4 * LastSeason.LFTA[i]))

In [321]:
teamPts = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamPts):
        teamPts[LastSeason.WTeamID[i]] += LastSeason.WScore[i]
    else:
        teamPts[LastSeason.WTeamID[i]] = LastSeason.WScore[i]
    if (LastSeason.LTeamID[i] in teamPts):
        teamPts[LastSeason.LTeamID[i]] += LastSeason.LScore[i]
    else:
        teamPts[LastSeason.LTeamID[i]] = LastSeason.LScore[i]

In [322]:
teamOffEff = dict()
for i in teamPts:
    teamOffEff[i] = ((teamPts[i] / teamPoss[i]) * 100)

### Determine ratings for offensive efficiency

In [323]:
for i in teamOffEff:
    if (teamOffEff[i] > 120):
        ratings[i] += 20
    elif (teamOffEff[i] > 115):
        ratings[i] += 18
    elif (teamOffEff[i] > 110):
        ratings[i] += 13
    elif (teamOffEff[i] > 105):
        ratings[i] += 10
    elif (teamOffEff[i] > 100):
        ratings[i] += 7
    elif (teamOffEff[i] > 95):
        ratings[i] += 4
    elif (teamOffEff[i] > 90):
        ratings[i] += 2

### Calculate Defensive Efficiency

In [324]:
teamOppPoss = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamOppPoss):
        teamOppPoss[LastSeason.WTeamID[i]] += (LastSeason.LFGA[i] - LastSeason.LOR[i] + LastSeason.LTO[i] + (0.4 * LastSeason.LFTA[i]))
    else:
        teamOppPoss[LastSeason.WTeamID[i]] = (LastSeason.LFGA[i] - LastSeason.LOR[i] + LastSeason.LTO[i] + (0.4 * LastSeason.LFTA[i]))
    if (LastSeason.LTeamID[i] in teamOppPoss):
        teamOppPoss[LastSeason.LTeamID[i]] += (LastSeason.WFGA[i] - LastSeason.WOR[i] + LastSeason.WTO[i] + (0.4 * LastSeason.WFTA[i]))
    else:
        teamOppPoss[LastSeason.LTeamID[i]] = (LastSeason.WFGA[i] - LastSeason.WOR[i] + LastSeason.WTO[i] + (0.4 * LastSeason.WFTA[i]))

In [325]:
teamOppPts = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamOppPts):
        teamOppPts[LastSeason.WTeamID[i]] += LastSeason.LScore[i]
    else:
        teamOppPts[LastSeason.WTeamID[i]] = LastSeason.LScore[i]
    if (LastSeason.LTeamID[i] in teamOppPts):
        teamOppPts[LastSeason.LTeamID[i]] += LastSeason.WScore[i]
    else:
        teamOppPts[LastSeason.LTeamID[i]] = LastSeason.WScore[i]

In [326]:
teamDefEff = dict()
for i in teamOppPts:
    teamDefEff[i] = ((teamOppPts[i] / teamOppPoss[i]) * 100)

### Determine Ratings for each level of defensive efficiency

In [339]:
for i in teamDefEff:
    if (teamDefEff[i] < 95):
        ratings[i] += 20
    elif (teamDefEff[i] < 100):
        ratings[i] += 15
    elif (teamDefEff[i] < 105):
        ratings[i] += 9
    elif (teamDefEff[i] < 110):
        ratings[i] += 5
    elif (teamDefEff[i] < 115):
        ratings[i] += 3
    elif (teamDefEff[i] < 120):
        ratings[i] += 1

KeyError: 3184

### Calculate defensive rebounding percentage

In [ ]:
teamDR = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamDR):
        teamDR[LastSeason.WTeamID[i]] += LastSeason.WDR[i]
    else:
        teamDR[LastSeason.WTeamID[i]] = LastSeason.WDR[i]
    if (LastSeason.LTeamID[i] in teamDR):
        teamDR[LastSeason.LTeamID[i]] += LastSeason.LDR[i]
    else:
        teamDR[LastSeason.LTeamID[i]] = LastSeason.LDR[i]

In [ ]:
teamOppDR = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamOppDR):
        teamOppDR[LastSeason.WTeamID[i]] += LastSeason.LDR[i]
    else:
        teamOppDR[LastSeason.WTeamID[i]] = LastSeason.LDR[i]
    if (LastSeason.LTeamID[i] in teamOppDR):
        teamOppDR[LastSeason.LTeamID[i]] += LastSeason.WDR[i]
    else:
        teamOppDR[LastSeason.LTeamID[i]] = LastSeason.WDR[i]

In [ ]:
teamDRpct = dict()
for i in teamOppDR:
    teamDRpct[i] = (teamDR[i] / (teamDR[i] + teamOppDR[i]))

### Calculate Offensive Rebounding Percentage

In [ ]:
teamOR = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamOR):
        teamOR[LastSeason.WTeamID[i]] += LastSeason.WOR[i]
    else:
        teamOR[LastSeason.WTeamID[i]] = LastSeason.WOR[i]
    if (LastSeason.LTeamID[i] in teamOR):
        teamOR[LastSeason.LTeamID[i]] += LastSeason.LOR[i]
    else:
        teamOR[LastSeason.LTeamID[i]] = LastSeason.LOR[i]

In [ ]:
teamOppOR = dict()
for i in range(len(LastSeason)):
    if (LastSeason.WTeamID[i] in teamOppOR):
        teamOppOR[LastSeason.WTeamID[i]] += LastSeason.LOR[i]
    else:
        teamOppOR[LastSeason.WTeamID[i]] = LastSeason.LOR[i]
    if (LastSeason.LTeamID[i] in teamOppOR):
        teamOppOR[LastSeason.LTeamID[i]] += LastSeason.WOR[i]
    else:
        teamOppOR[LastSeason.LTeamID[i]] = LastSeason.WOR[i]

In [ ]:
teamORpct = dict()
for i in teamOppOR:
    teamORpct[i] = (teamOR[i] / (teamOR[i] + teamOppOR[i]))

### Give ratings for levels of each rebounding efficiency

In [ ]:
for i in teamDRpct:
    if (teamDRpct[i] > 0.58):
        ratings[i] += 10
    elif (teamDRpct[i] > 0.56):
        ratings[i] += 8
    elif (teamDRpct[i] > 0.54):
        ratings[i] += 6
    elif (teamDRpct[i] > 0.51):
        ratings[i] += 4
    elif (teamDRpct[i] > 0.48):
        ratings[i] += 2
    elif (teamDRpct[i] > 0.45):
        ratings[i] += 1

In [ ]:
for i in teamORpct:
    if (teamORpct[i] > 0.6):
        ratings[i] += 8
    elif (teamORpct[i] > 0.57):
        ratings[i] += 7
    elif (teamORpct[i] > 0.54):
        ratings[i] += 5
    elif (teamORpct[i] > 0.52):
        ratings[i] += 4
    elif (teamORpct[i] > 0.50):
        ratings[i] += 3
    elif (teamORpct[i] > 0.47):
        ratings[i] += 2  
    elif (teamORpct[i] > 0.44):
        ratings[i] += 1

### Look at conferences for each team

In [ ]:
print(menTeams.head())

In [ ]:
conf = dict()
for i in confTourney.index:
    if (confTourney.WTeamID[i] not in conf):
        conf[confTourney.WTeamID[i]] = confTourney.ConfAbbrev[i]
    else:
        continue
    if (confTourney.LTeamID[i] not in conf):
        conf[confTourney.LTeamID[i]] = confTourney.ConfAbbrev[i]
    else:
        continue

In [ ]:
teams['conference'] = pd.Series('', index = teams.index)
for i in conf.keys():
    x = menTeams.TeamName[menTeams.TeamID == i]
    ind = x.index
    teams['conference'][ind] = conf[i]

### Look at ratings and compare to teams

In [ ]:
teamRatings = pd.DataFrame.from_dict(ratings, orient = 'index')
teamRatings['Name'] = ''

In [ ]:
for i in teamRatings.index:
    for j in range(len(teams)):
        if (teams.TeamID[j] == i):
            teamRatings['Name'][i] = teams.TeamName[j]

In [ ]:
teamRatings.rename(columns = {0:'Rating'}, inplace = True)
# teamRatings.head()

In [328]:
teamRatings.sort_values(by=['Rating'], ascending = False, inplace = True)

### Figure out location factor

### How many close games were won

In [329]:
teamCloser = dict()
for i in range(len(LastSeason)):
    if ((LastSeason.WScore[i] - LastSeason.LScore[i]) < 6):
        if (LastSeason.WTeamID[i] in teamCloser):
            teamCloser[LastSeason.WTeamID[i]] += 1
        else:
            teamCloser[LastSeason.WTeamID[i]] = 1
        if (LastSeason.LTeamID[i] in teamCloser):
            teamCloser[LastSeason.LTeamID[i]] -= 1
        else:
            teamCloser[LastSeason.LTeamID[i]] = -1

In [330]:
for i in teamCloser:
    if (teamCloser[i] > 5):
        print(i)

3140
3330
3414
3129
3199
3347
3325

In [331]:
teamRatings[:30]

      Rating            Name Seed Power6
3124     100          Baylor  Y01    Yes
3163      96     Connecticut  W02    Yes
3280      92  Mississippi St  Z01    Yes
3332      89          Oregon  Z02    Yes
3323      87      Notre Dame  X01    Yes
3333      83       Oregon St  W04    Yes
3199      80      Florida St  Y05    Yes
3113      80      Arizona St  Z05    Yes
3268      80        Maryland  W03    Yes
3417      79            UCLA  W06    Yes
3400      78           Texas  Z07    Yes
3234      78            Iowa  Y02    Yes
3376      75  South Carolina  Y04    Yes
3437      75       Villanova         Yes
3276      74        Michigan  W08    Yes
3281      74        Missouri  Y07    Yes
3326      74         Ohio St         Yes
3401      73       Texas A&M  X04    Yes
3329      73     Oklahoma St         Yes
3278      73       Minnesota         Yes
3397      70       Tennessee  W11    Yes
3277      70     Michigan St  X09    Yes
3301      68        NC State  Y03    Yes
3181      67            Duke         Yes
3452      66   West Virginia         Yes
3393      66        Syracuse  Z03    Yes
3425      66             USC         Yes
3439      64   Virginia Tech         Yes
3207      64      Georgetown         Yes
3125      63         Belmont  Y13

In [332]:
teamRatings[teamRatings.Name == 'Miami Fl']

Empty DataFrame
Columns: [Rating, Name, Seed, Power6]
Index: []

In [333]:
teamRatings[teamRatings.Name.str.contains("Tem")]

      Rating    Name Seed Power6
3396      17  Temple

In [334]:
seedsSeason = seeds[seeds.Season == 2019]
seedsSeason.reset_index(inplace = True)

In [335]:
seedsSeason.head()

   index  Season Seed  TeamID
0   1344    2019  W01    3257
1   1345    2019  W02    3163
2   1346    2019  W03    3268
3   1347    2019  W04    3333
4   1348    2019  W05    3211

In [336]:
teamRatings['Seed'] = ''
for i in teamRatings.index:
    for j in range(len(seedsSeason)):
        if (seedsSeason.TeamID[j] == i):
            teamRatings['Seed'][i] = seedsSeason.Seed[j]

C:\Users\brand\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [337]:
teamRatings[teamRatings.index == 3104].Name

3104    Alabama
Name: Name, dtype: object

In [338]:
teamRatings['Power6'] = ''
for i in teams.index:
    if (teams.conference[i] == 'pac_ten' or teams.conference[i] == 'sec' or 
        teams.conference[i] == 'big_east' or teams.conference[i] == 'acc' or 
        teams.conference[i] == 'big_twelve' or teams.conference[i] == 'big_ten'):
        teamRatings.Power6[teamRatings.index == teams.TeamID[i]] = 'Yes'

AttributeError: 'DataFrame' object has no attribute 'conference'

In [ ]:
for i in teamRatings.index:
    if (teamRatings.Power6[i] == 'Yes'):
        teamRatings.Rating[i] += 7

In [ ]:
teamRatings[teamRatings.Name.str.contains("Mich")]

In [ ]:
# rd2 = teamRatings.copy(deep = True)
# for i in rd2.index:
#     if (teamRatings.Seed[i][1:] == '13' or teamRatings.Seed[i][1:] == '14' or teamRatings.Seed[i][1:] == '15' or teamRatings.Seed[i][1:] == '16'):
#         teamRatings.Rating[i] = 0.75 * teamRatings.Rating[i]
#     elif (teamRatings.Seed[i][1:] == '09' or teamRatings.Seed[i][1:] == '10' or teamRatings.Seed[i][1:] == '11' or teamRatings.Seed[i][1:] == '12'):
#         teamRatings.Rating[i] = 0.8 * teamRatings.Rating[i]
#     elif (teamRatings.Seed[i][1:] == '06' or teamRatings.Seed[i][1:] == '07' or teamRatings.Seed[i][1:] == '08'):
#         teamRatings.Rating[i] = 0.85 * teamRatings.Rating[i]
#     elif (teamRatings.Seed[i][1:] == '03' or teamRatings.Seed[i][1:] == '04' or teamRatings.Seed[i][1:] == '05'):
#         teamRatings.Rating[i] = 0.95 * teamRatings.Rating[i]

In [ ]:
rd2[rd2.Name == "Kentucky"]

In [7]:
import geopy

cities = pd.read_csv('Cities.csv')
gameCities = pd.read_csv('GameCities.csv')

In [11]:
cities.head()

   CityID         City State
0    4001      Abilene    TX
1    4002        Akron    OH
2    4003       Albany    NY
3    4004  Albuquerque    NM
4    4005    Allentown    PA

In [10]:
teams.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2019
1    1102    Air Force           1985          2019
2    1103        Akron           1985          2019
3    1104      Alabama           1985          2019
4    1105  Alabama A&M           2000          2019